<%if Rails.env == "production" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-103057361-1', 'auto');
    ga('send', 'Homepage Form');
  </script>
<%end %>

<%- model_class = Post -%>
<div class="page-header text-center">
  <h1>Além das Vendas!</h1>
</div>
<!-- <div class="page-header text-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div> -->
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:slug) %></th>
      <th><%= model_class.human_attribute_name(:tags) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.slug %></td>
        <td><%= post.tags %></td>
        <td><%=l post.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<div class="col-md-12 text-center"> 
  <h4>Prepare-se para mudar a forma como conhece o setor de vendas! Reinvente-se, abra sua mente, consuma conteúdo de qualidade gratuito com possibilidades de ultrapassar barreiras. Deixar de apenas vender, mas entregar soluções de problemas para seus clientes.</h4>
  <p></p>
</div> 
<div class="row"> 
<!-- <%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %> -->

<div class="col-md-8 col-md-offset-1 text-center"><%= render :partial => 'leads/form' %></div>
</div>